# {{ ansible_managed }}

deb {{ apt_debian_source.mirror }} jessie main non-free contrib
deb-src {{ apt_debian_source.mirror }} jessie main non-free contrib

deb http://security.debian.org/ jessie/updates main contrib non-free
deb-src http://security.debian.org/ jessie/updates main contrib non-free
