# {{ ansible_managed }}

deb {{ apt_source_linuxmint_source_mirror }} xia main upstream import backport

deb {{ apt_source_ubuntu_source_mirror }} noble main restricted universe multiverse
deb {{ apt_source_ubuntu_source_mirror }} noble-updates main restricted universe multiverse
deb {{ apt_source_ubuntu_source_mirror }} noble-backports main restricted universe multiverse

deb http://security.ubuntu.com/ubuntu/ noble-security main restricted universe multiverse
